.gradle
**/.gradle
**/pom.xml
**/build
**/out
**/.DS_Store
**/.classpath
**/.settings
**/target
**/classes
**/.project
**/*.log
**/*.exe
**/.idea
**/*.iml
**/*.ipr
**/*.iws
**/*.orig
**/*.war
**/tmp
.gradletasknamecache
**/*Transient.java
**/src/test/**/*TempTest*
**/*.tar
**/*.gz
**/generated/
**/.testcontainers*
.gcache
wt-payment
secrets.env
src/test/**/TempRunner*
**/.vscode
